@model FootballMatches.ViewModels.NewMatchViewModel
<div class="d-flex flex-column">
    <h1 class="h2 text-center">New match</h1>
    <form id="add-match-form" class="new-match d-flex justify-content-between p-4">

        <div class="match-team d-flex flex-column justify-content-between">
            <div class="form-group">
                <label for="host-team" class="text-center">Host</label>
                <select id="host-team" name="host-team" class="custom-select form-control mb-4">
                    <option selected value="">Select Host</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option class="host host-@team.Id" value="@team.Id">@team.Name</option>
                    }
                </select>
                <div id="host-invalid" class="invisible custom-validator">Select Host team!</div>
            </div>
            <div class="d-flex flex-column">
                <div class="host-players match-players form-group p-4"></div>
                <div id="host-team-invalid" class="invisible custom-validator">Minimum 6 players have to be chosen!</div>
            </div>

        </div>

        <div class="match-details d-flex flex-column justify-content-around">
            <div class="form-group">
                <label for="match-place-input">Place</label>
                <input type="text" name="match-place" class="form-control" id="match-place-input">
                <div id="place-invalid" class="invisible custom-validator">Enter match place!</div>
            </div>
            <div id="match-datepicker" class="form-group">
                <label for="seleted-date">Match date</label>
                <div class="input-group date">
                    <input id="selected-date" name="match-date" type="text" class="form-control" value="@DateTime.Today.Date.ToString("MM/dd/yyyy")">
                </div>
            </div>
            <div id="equal-players-invalid" class="invisible custom-validator">Teams must have equal number of players!</div>
        </div>

        <div class="match-team d-flex flex-column  justify-content-between">
            <div class="form-group">
                <label for="guest-team" class="text-center">Guest</label>
                <select id="guest-team" name="guest-team" class="custom-select form-control mb-4">
                    <option selected value="">Select Guest</option>
                    @foreach (var team in Model.Teams)
                    {
                        <option class="guest guest-@team.Id" value="@team.Id">@team.Name</option>
                    }
                </select>
                <div id="guest-invalid" class="invisible custom-validator">Choose Guest team!</div>
            </div>
            <div class="d-flex flex-column">
                <div class="guest-players match-players form-group p-4"></div>
                <div id="guest-team-invalid" class="invisible custom-validator">Minimum 6 players have to be chosen!</div>
            </div>

        </div>
    </form>
    <div class="d-flex justify-content-end">
        <button id="add-match-confirm" type="button" class="btn btn-primary mx-3">Save</button>
        <a asp-controller="Match" asp-action="Index" class="btn btn-danger mr-4">Cancel</a>
    </div>
</div>